data/*
.DS_store
*.svg
*.png
*.dot
*.dat
*.zip
dask-worker-space/
*.tar.gz
config/*
!config/example.mk
!config/example_config.yaml
!config/drop_features.txt
!config/example_experiment.mk
!config/example_small.mk
my_env/*
*.jsonl
models/*
reports/*
!reports/viz/.gitkeep
scratch/*
add_semnet_path.sh
*.prof
runs/*
.idea/*
notebook/*
!notebook/arb*.ipynb
references/*
venv/
!.gitkeep
__pycache__/
