data/*
*.zip
dask-worker-space/
*.tar.gz
config/*
!config/example.mk
!config/example_small.mk
my_env/*
*.jsonl
models/*
reports/*
!reports/viz/.gitkeep
scratch/*
add_semnet_path.sh
*.prof
runs/*
.idea/*
notebook/*
references/*
venv/
!.gitkeep
__pycache__/
