
.bar {
    fill: steelblue;
}

.highlight {
    fill: orange;
}

axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area {
  fill: lightsteelblue;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}