
.bar {
    fill: steelblue;
}

.highlight {
    fill: orange;
}

#options {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

axis {
    font: 10px sans-serif;
}

.tooltip {
    background-color: #d8d5e4;
    width: 120px;
    height: 80px;
    padding: 5px;
    position: absolute;
    z-index: 1001;
    box-shadow: 0 1px 2px 0 #656565;
}

.axis_title {
    font-style: italic;
    font-size: 14px;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


p {
  font: 10px sans-serif;
  margin: 0 0 2px 0;
  padding: 0;
}

.val {
    position: absolute;
    z-index: 1001;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area {
    opacity: 0.5;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.btn-group button {
    background-color: #4682B4; /* Green background */
    border: 1px solid #30597a; /* Green border */
    color: white; /* White text */
    padding: 0px 0px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    font-size: 18px;
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}