<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script>
        var page_url = window.location.protocol + "//" + window.location.host + window.location.pathname;
    </script>
    <link id='style' rel="stylesheet" href="static/style/main.css">
	<script>document.getElementById("style").href = page_url + "static/style/main.css"</script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
      <link id="ldavis-style" rel="stylesheet" type="text/css" href="/static/style/ldavis.css">
      <script>document.getElementById("ldavis-style").href = page_url + "static/style/ldavis.css"</script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>
      <script src="https://unpkg.com/jam-icons/js/jam.min.js"></script>
      <script src="https://unpkg.com/d3-simple-slider"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
  </head>
  <body>
    <h1>
        Topic Emergence Visualizer <span id="version">(version: {{ version }})</span>
        <div class="info" style="float: right;">
            <span style="font-size: 20px">About</span>
            <span class="tooltiptext">
                <p id="description">
                  We calcluated many measures from the the frequencies of topics in the Astrophysics Data System (ADS).
                  The two dropdowns for "x" and "y" contain names of values calculated from these topics' time series.
                  A list of these measures can be found <a href="https://tsfresh.readthedocs.io/en/latest/text/list_of_features.html">here</a>.
                    <br>
                    <br>
                  In blue, there are a few predefined views which may be useful.
                    <br>
                    <br>
                  When you select a topic, it displays that topic's time series and a table on the right with that topic's papers.
                    You can select a row of this table to display the title and abstract for the given bibcode.
                    You can also sort the table by bibcode and score. This score refers to how well it falls within the given topic.
                    <br>
                    <br>
                  More information and code can be found <a href="{{ git_url }}">here</a>.
                </p>
            </span>
        </div>
    </h1>
    <div style="width: 50%; overflow: hidden; margin-left: 2%; float: left;">
      <div id='options' style="flex: 25%; margin-left: 50px; margin-right: 0px; margin-top: 0px; float: left;">
          <table class="filters">
              <colgroup>
                  <col span="1" style="width: 30%;">
                  <col span="1" style="width: 70%;">
              </colgroup>
              <tr>
                  <td>x</td>
                  <td><select id="selectButtonX" class="selector"></select></td>
              </tr>
              <tr>
                  <td>y</td>
                  <td><select id="selectButtonY" class="selector"></select></td>
              </tr>
              <tr>
                  <td>size</td>
                  <td><select id="selectButtonSize" class="selector"></select></td>
              </tr>
              <tr>
                  <td>min count</td>
                  <td>
                    <div class="row align-items-center">
                        <div class="col-sm"><div id="minCountInput"></div></div>
                    </div>
                  </td>
              </tr>
              <tr>
                  <td>min coherence</td>
                  <td>
                      <div class="row align-items-center">
                          <div class="col-sm"><div id="minRakeInput"></div></div>
                      </div>
                  </td>
              </tr>
          </table>
      </div>
      <div id="views" style="flex: 25%; margin-right: 20px; margin-top:0px; float: right;">
        <div class="btn-group">
          <button id="cagrNasaafil">CAGR vs NASA Affiliation</button>
          <button id="manifold">manifold</button>
          <button id="maxSkew">First max location vs skewness</button>
          <button id="changeComplex">mean change vs complexity</button>
        </div>
          <br><br>
          <input type="text" id="topic-search" name="topic-search" placeholder="Search by Topic Number" style="font-size: 18px">
      </div>
    </div>
    <div id='doc_preview' style="width: 40%; overflow: hidden; margin-left: 0%; margin-right: 2%; float: right;">
        <div id="doc_bibcode"><text style="font-size: 10px">Bibcode</text></div>
        <div id="doc_title"><text style="font-weight: bold;">Title</text></div>
        <div id="doc_abstract"><text>Abstract</text></div>
    </div>
    <div id="dashboard" style="width: 100%; overflow: hidden;">
        <div style="width: 82%; float:left;">
            <div id="plots" style="margin-left: 0px; height: 100%">
                <div id="scatter-plot-container" style="width: 50%; overflow: hidden; margin-right: 0%; float: left;">
                    <button type="button" id="enterButton" style="margin-left: 13%; float: left;">Recreate Scatter Plot</button>
                </div>
                <div id="time-plot-container" style="width: 50%; overflow: hidden; margin-right: 0%;">
                    <button type="button" id="toggleNorm" style="margin-left: 13%;">Toggle Normalize Time Series</button>
                </div>
            </div>
            <div class="resp-container" style="margin-left: 6%;">
                <div id="ldavis_el1"></div>
            </div>
        </div>
        <div style="width: 15%; float:right; margin-right: 3%; position: relative; height: 800px">
            <div id='table_container' style="display: block; min-height: 600px;"></div>
            <div id='kwd_table_container' style="display: block; height: 100%"></div>
        </div>
    </div>
    <br>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script id="emergenceScript" src="../static/js/emergence_charts.js"></script>
    <script>document.getElementById("emergenceScript").src = page_url + "static/js/emergence_charts.js"</script>
    <script type="text/javascript">
      var margin = { top: 20, right: 70, bottom: 100, left: 20 };
      var width = 600 - margin.left - margin.right;
      var height = 450 - margin.top - margin.bottom;

      var swidth = width + margin.left + margin.right;
      var sheight = height + margin.top + margin.bottom;

      var color = d3.scaleOrdinal(d3.schemeCategory10);

      var svgScaler = 1;

      // Append SVG
      var scatterSvg = d3.select('#scatter-plot-container')
        .append("svg")
        .attr("width", swidth * svgScaler)
        .attr("height", sheight * svgScaler)
        .attr("transform", "translate(" + (margin.left * svgScaler) + "," + (margin.top  * svgScaler) + ")");

      var timeSvg = d3.select("#time-plot-container")
      .append("svg")
      .attr('id', 'timeSvg')
      .attr("width", swidth * svgScaler)
      .attr("height", sheight * svgScaler)
      .attr("transform", "translate(" + (margin.left * svgScaler) + "," + (margin.top * svgScaler) + ")");

      // Add time series chart
      var timeChart = timeSeriesChart()
      .height(height)
      .width(width)
      .color(color);

      // add slope comp chart
      var chart0 = scatterChart()
      .height(height)
      .width(width)
      .xName('nasa_affiliation')
      .yName('CAGR')
      .timeSvg(timeSvg)
      .timeChart(timeChart)
      .color(color);

      // add manifold chart
      var chart1 = scatterChart()
      .height(height)
      .width(width)
      .xName('manifold_x')
      .yName('manifold_y')
      .timeSvg(timeSvg)
      .timeChart(timeChart)
      .color(color);

      var min_count = 1;
      var minRake= -999;

      var sliderSimple;
      var sliderScore;
      var nTopics;
      var maxTopic;

      d3.json(window.location.pathname + "get-count-range")
      .then(function (data){
        console.log(data['count_min']);
        console.log(data['count_max']);
        console.log(data['n_topics'])
        nTopics = data['n_topics'];
        maxTopic = nTopics - 1;

        let third_stand = Math.trunc(data['count_mean'] + 3 * data['count_std']);

        sliderSimple = d3
        .sliderBottom()
        .min(data['count_min'])
        .max(d3.min([data['count_max'], third_stand]))
        .width(150)
        .ticks(5)
        .tickFormat(d3.format(".2s"))
        .step(1)
        .default(0);

        var gSimple = d3
        .select('#minCountInput')
        .append('svg')
        .attr('width', 300)
        .attr('height', 70)
        .append('g')
        .attr('transform', 'translate(30,30)');

        gSimple.call(sliderSimple);
      });

      d3.json(window.location.pathname + "get-score-range")
      .then(function (data){
        console.log(data['score_min']);
        console.log(data['score_max']);
        sliderScore = d3
        .sliderBottom()
        .min(data['score_min'])
        .max(data['score_max'])
        .width(150)
        .ticks(5)
        .step(0.1)
        .default(-99);

        var gSimple = d3
        .select('#minRakeInput')
        .append('svg')
        .attr('width', 300)
        .attr('height', 70)
        .append('g')
        .attr('transform', 'translate(30,30)');

        gSimple.call(sliderScore);
      });


      $("#topic-search").on('keyup', function (e) {
        if (e.key === 'Enter' || e.keyCode === 13) {
          var topic = +d3.select("#topic-search").node().value;

          console.log(maxTopic);
          if (topic > maxTopic) {
            topic = maxTopic;
            d3.select("#topic-search").node().value = (+topic).toString();
          }
          if (topic < 0) {
            topic = 0;
            d3.select("#topic-search").node().value = (+topic).toString();
          }


          d3.select("#table_container").selectAll("*").remove();
          var opts = {
            lines: 9, // The number of lines to draw
            length: 9, // The length of each line
            width: 5, // The line thickness
            radius: 14, // The radius of the inner circle
            color: "gainsboro", // #rgb or #rrggbb or array of colors
            speed: 1.9, // Rounds per second
            trail: 40, // Afterglow percentage
            className: 'spinner', // The CSS class to assign to the spinner
            top: '100px', // Top position relative to parent in px
            left: '50%' // Left position relative to parent in px
          };
          var target = document.getElementById('table_container');
          var spinner = new Spinner(opts).spin(target);
          postBibcode(topic, spinner, limit=20);
          highlightTopic(+topic, 'stem', 'scaled_counts');
          postTopic(topic);
          var topicID = '#ldavis_el1-topic';
          d3.select(topicID).node().value = (+topic).toString();
          d3.select(topicID).on('keyup')();
        }
      });


      d3.json(window.location.pathname + "get-scatter-data", {
            method:"POST",
            body: JSON.stringify({
              x: 'nasa_affiliation', y: 'CAGR', size: "count", min_count: min_count, minRake: minRake
            }),
            headers: {
              "Content-type": "application/json; charset=UTF-8"
            }
          })
        .then(function(data) {
          scatterSvg
            .datum(data)
            .call(chart0);
          });

      d3.json(window.location.pathname + 'get-all-options')
        .then(
          function(options) {
            d3.select("#selectButtonX")
            .selectAll('myOptions')
            .data(options)
            .enter()
            .append('option')
            .text(function (d) { return d; }) // text showed in the menu
            .attr("value", function (d) { return d; }); // corresponding value returned by the button

            d3.select('#selectButtonX').property('value', 'nasa_affiliation');

            d3.select("#selectButtonY")
            .selectAll('myOptions')
            .data(options)
            .enter()
            .append('option')
            .text(function (d) { return d; }) // text showed in the menu
            .attr("value", function (d) { return d; }); // corresponding value returned by the button

            d3.select('#selectButtonY').property('value', 'CAGR');

            d3.select("#selectButtonSize")
            .selectAll('myOptions')
            .data(options)
            .enter()
            .append('option')
            .text(function (d) { return d; }) // text showed in the menu
            .attr("value", function (d) { return d; }); // corresponding value returned by the button

            d3.select('#selectButtonSize').property('value', 'count');

            d3.select("#selectButtonXScale")
            .selectAll('myOptions')
            .data(['linear', '^0.1'])
            .enter()
            .append('option')
            .text(function (d) { return d; }) // text showed in the menu
            .attr("value", function (d) { return d; }); // corresponding value returned by the button

            d3.select("#enterButton").on("click", function(d) {
              // recover the option that has been chosen
              var selectedX = d3.select("#selectButtonX").property("value");
              var selectedY = d3.select("#selectButtonY").property("value");
              var selectedSize = d3.select("#selectButtonSize").property("value");
              var min_count = sliderSimple.value();
              var minRake = sliderScore.value();
              {#var selectedXScale = d3.select("#selectButtonXScale").property("value");#}
              var selectedXScale = "linear"
              if (selectedXScale === '^0.1') {
                var xScale = d3.scalePow().exponent(0.1)
              }
              else {
                var xScale = d3.scaleLinear()
              }
              return scatterRequestPlot(d, selectedX, selectedY, selectedSize, min_count, minRake, xScale);
              }
            )}
        );

      d3.json(window.location.pathname + 'get-all-time-data')
        .then(
          function(data) {
            timeSvg.call(timeChart.data(data));
          }
      );


      d3.select('#toggleNorm').on('click', function(d) {
        tc = chart0.timeChart();
        if (tc.yName() === 'count') {
          tc.yName('norm_count')
        } else {
          tc.yName('count')
        }
      });

      function scatterRequestPlot(d, selectedX, selectedY, selectedSize="count", min_count=-999, minRake=-999, xScale=d3.scaleLinear()) {
        scatterSvg.selectAll('*').remove();
        d3.json(window.location.pathname + "get-scatter-data", {
          method:"POST",
          body: JSON.stringify({
            x: selectedX, y: selectedY, size: selectedSize, min_count: min_count, minRake: minRake
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
        .then(function(data) {
          scatterSvg
          .datum(data)
          .call(chart0.xName(selectedX)
                .yName(selectedY)
                .xScale(xScale)
                .sizeName(selectedSize)
          );
        });
      }

      // Saved views
      d3.select("#cagrNasaafil").on("click", function (d) {
                let x = 'nasa_affiliation';
                let y = 'CAGR';
                return scatterRequestPlot(d, x, y);
              }
      );

      d3.select("#manifold").on("click", function (d) {
          let x = 'manifold_x';
          let y = 'manifold_y';
          return scatterRequestPlot(d, x, y);
        }
      );

      d3.select("#maxSkew").on("click", function (d) {
                let x = 'skewness';
                let y = 'first_location_of_maximum';
                return scatterRequestPlot(d, x, y);
              }
      );

      d3.select("#changeComplex").on("click", function (d) {
                let x = 'mean_change';
                let y = 'cid_ce__normalize_False';
                return scatterRequestPlot(d, x, y);
              }
      );

      var opts = {
        lines: 9, // The number of lines to draw
        length: 9, // The length of each line
        width: 5, // The line thickness
        radius: 14, // The radius of the inner circle
        color: "gainsboro", // #rgb or #rrggbb or array of colors
        speed: 1.9, // Rounds per second
        trail: 40, // Afterglow percentage
        className: 'spinner', // The CSS class to assign to the spinner
        top: '100px', // Top position relative to parent in px
        left: '50%' // Left position relative to parent in px
      };
      var target = document.getElementById('table_container');
      var spinner = new Spinner(opts).spin(target);
      postBibcode(0, spinner, limit=20)
      getKeywordTable()

    </script>

<script type="text/javascript">
d3.json(page_url + "lda").then(function(data){
  // var ldavis_el1_data = JSON.parse(data);
  var ldavis_el1_data = data;

  function LDAvis_load_lib(url, callback){
    var s = document.createElement('script');
    s.src = url;
    s.async = true;
    s.onreadystatechange = s.onload = callback;
    s.onerror = function(){console.warn("failed to load library " + url);};
    document.getElementsByTagName("head")[0].appendChild(s);
  }

    // require.js not available: dynamically load d3 & LDAvis
    LDAvis_load_lib("https://d3js.org/d3.v5.min.js", function(){
      LDAvis_load_lib(page_url + "static/js/ldavis.js", function(){
        new LDAvis("#" + "ldavis_el1", ldavis_el1_data);
        var svg = d3.select("#ldavis_el1");
        svg.style('margin', 0).style('padding', 0);
        var nTopics = svg.selectAll('.dot').size();
        console.log(nTopics);
          svg.style('margin', 0).style('padding', 0);
          var nTopics = svg.selectAll('.dot').size();
          console.log(nTopics);
        svg.selectAll(".dot").each(function(d, i) {
          mydot = d3.select(this);
          oldClick = mydot.on("click");
          mydot.on("dblclick", function(d, i) {
            onTopicClick(d, i);
          });
          svg.selectAll('.terms').each(function (d, i) {
            d3.select(this).on("click", onRectClick);
          })
        });
        svg.selectAll('.terms').each(function (d, i) {
          d3.select(this).on("click", onRectClick);
        })
      })
    });
});
</script>
  <footer id="footerInfo">
    <p style="font-size: 16px">For questions, contact <a href = "mailto: brian.a.thomas@nasa.gov">brian.a.thomas@nasa.gov</a>.</p>
  </footer>
  </body>
</html>
