<!doctype html>
<html>
  <head>
    <title>Keyword Emergence Study for AI/ML Strategic Planning</title>
    <link id='style' rel="stylesheet" href="static/style/main.css">
    <script>document.getElementById("style").href = page_url + "static/style/main.css"</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script id="emergenceScript" src="../static/js/emergence_charts.js"></script>
    <script>document.getElementById("emergenceScript").src = page_url + "/static/js/emergence_charts.js"</script>
  </head>
  <script>
    var page_url = window.location.protocol + "//" + window.location.host;
  </script>
  <body>
  <div id="plots" style="margin-left: 100px; height: 100%; position: relative;">
    <div class="resp-container">
      <iframe class="resp-iframe" id="pyLDAvis" src="static/topic_model_viz.html" allowfullscreen>
        Your browser doesn't support iframes
      </iframe>
      <script>document.getElementById("pyLDAvis").src = page_url + "/static/html/topic_model_viz.html"</script>
    </div>
  </div>
  </body>
  <script>

    function exportToJsonFile(jsonData) {
      let dataStr = JSON.stringify(jsonData);
      let dataUri = 'data:application/json;charset=utf-8,'+ encodeURIComponent(dataStr);

      let exportFileDefaultName = 'data.json';

      let linkElement = document.createElement('a');
      linkElement.setAttribute('href', dataUri);
      linkElement.setAttribute('download', exportFileDefaultName);
      linkElement.click();
    }
    var margin = { top: 20, right: 70, bottom: 100, left: 20 };
    var width = 600 - margin.left - margin.right;
    var height = 450 - margin.top - margin.bottom;

    var swidth = width + margin.left + margin.right;
    var sheight = height + margin.top + margin.bottom;

    var color = d3.scaleOrdinal(d3.schemeCategory10);

    var svgScaler = 1;

    // var iframeHeight = d3.select('#pyLDAvis').node().getBoundingClientRect()['height'];
    var timeSvg = d3.select("#plots")
    .append("svg")
    // .style('top', `900px`)
    .attr('id', 'timeSvg')
    .attr('class', 'inner')
    .attr("width", swidth * svgScaler)
    .attr("height", sheight * svgScaler)
    .attr("transform", "translate(" + (margin.left * svgScaler) + "," + (margin.top * svgScaler) + ")");

    var timeChart = timeSeriesChart()
      .height(height)
      .width(width)
      .color(color);

    d3.json(page_url + '/get-all-time-data')
    .then(
            function(data) {
              timeSvg.call(timeChart.data(data));
            }
    );

    // d3.csv('/topic_bibcodes').then(function(data){
      $('#pyLDAvis').on( 'load', function() {
        var iframeElementx = document.getElementById("pyLDAvis"),
                iframeElementy = (iframeElementx.contentWindow || iframeElementx.contentDocument),
                iframeElementz = iframeElementy.document.body;
        var svg = d3.select(iframeElementz);
        var nTopics = svg.selectAll('.dot').size();
        console.log(nTopics);
        svg.selectAll(".dot").each(function(d, i) {

          d3.select(this).on("click",  function() {
            console.log(d);
            var topic = +d['topics'];
            d3.json(page_url + "/topic_bibcodes", {
              method:"POST",
              body: JSON.stringify({
                topic: topic,
                }),
                headers: {
                "Content-type": "application/json; charset=UTF-8"
                }
              })
            .then(function(data) {
              console.log(data);
              timeChart.data(data);
              // scatterSvg
              //   .datum(data)
              //   .call(chart0);
            });
            console.log(`I did a thing! ${d['topics']}`);
            var topicData = [];
            // for (i = 0; i < data.length; i++) {
            //   if (+data[i]['topic'] + 1 === topic) {
            //     topicData.push(data[i])
            //   }
            // }
            // console.log(topicData.length);
            // exportToJsonFile(topicData);

            },
          );

        })
      });
    // });
  </script>
</html>
